@model BookCatalog.Web.Models.BookViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("EditBook", "Book", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(b => b.BookId)
    <div class="form-group">
        <div class="form-label">@Html.LabelFor(b => b.Name)</div>
        <div class="form-field">
            @Html.TextBoxFor(b => b.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(b => b.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">@Html.LabelFor(b => b.PublishDate)</div>
        <div class="form-field">
            @Html.TextBoxFor(b => b.PublishDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(b => b.PageCount)
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">@Html.LabelFor(b => b.Rating)</div>
        <div class="form-field">
            @Html.TextBoxFor(b => b.Rating, new { @class = "form-control" })
            @Html.ValidationMessageFor(b => b.Rating)
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">@Html.LabelFor(b => b.PageCount)</div>
        <div class="form-field">
            @Html.TextBoxFor(b => b.PageCount, new { @class = "form-control" })
            @Html.ValidationMessageFor(b => b.Rating)
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">@Html.LabelFor(b => b.Authors)</div>
        <div class="form-field">
            @Html.ListBoxFor(b => b.Authors, new MultiSelectList(Model.Authors, "AuthorId", "FullName", new[] { 0, 1 }), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-actions">
        <input type="submit" value="Save" />
    </div>
}

<script type="text/javascript">
    var $popupForm = $('#popupForm');

    $popupForm.removeData('validator');
    $popupForm.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse('form');

    $popupForm.on('submit', function (event) {
        event.preventDefault();
        var form = this;
        var url = form.action;

        $.ajax({
            type: "POST",
            url: url,
            data: $(form).serialize()
        });
    });

    //$('select', $popupForm).select2({
    //    ajax: {
    //        url: 'Author/GetAllAuthors',
    //        dataType: 'json',
    //        processResults: function (response) {

    //            return {
    //                results: (response.authors || []).map(function (author) {
    //                    return {
    //                        id: author.AuthorId,
    //                        text: author.FullName
    //                    }
    //                })
    //            };
    //        }
    //    }
    //})
</script>